camera_calibration/images/stereoLeft/imageL0.png
camera_calibration/images/stereoLeft/imageL1.png
camera_calibration/images/stereoLeft/imageL2.png
camera_calibration/images/stereoLeft/imageL3.png
camera_calibration/images/stereoLeft/imageL4.png
camera_calibration/images/stereoLeft/imageL5.png
camera_calibration/images/stereoLeft/imageL6.png
camera_calibration/images/stereoLeft/imageL7.png
camera_calibration/images/stereoLeft/imageL8.png
camera_calibration/images/stereoLeft/imageL9.png
camera_calibration/images/stereoRight/imageR0.png
camera_calibration/images/stereoRight/imageR1.png
camera_calibration/images/stereoRight/imageR2.png
camera_calibration/images/stereoRight/imageR3.png
camera_calibration/images/stereoRight/imageR4.png
camera_calibration/images/stereoRight/imageR5.png
camera_calibration/images/stereoRight/imageR6.png
camera_calibration/images/stereoRight/imageR7.png
camera_calibration/images/stereoRight/imageR8.png
camera_calibration/images/stereoRight/imageR9.png
